body {
  background-color: #d0e4fe;
}

h1 {
  color: navy;
  text-align: center;
}

p {
  font-family: "Courier New";
  font-size: 25px;
}

.weather {
	font-family: "Calibri";
	font-size: 20px;
	color: orange;
}