<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css"/>
  <script>var apiKey = '%= process.env.API_KEY %>';</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>

  <div class="city"></div>
  <div class="temp"></div>
  <div class="humidity"></div>
  <div class="wind"></div>

  <button type="button" onclick="myFunction()">
    Try it
  </button>

</body>

</html>